<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body class="show-page">

<%= render 'layouts/colored_navbar' %>

<div class="card show-card">
  <h3 class="card-header">Welcome to you profile:</h3>
  <div class="card-body">
    <h5 class="card-title"> <%= @user.first_name %> <%= @user.last_name %> </h5>
    <h6 class="card-subtitle text-muted">Member since: <%= @user.created_at %></h6>
  </div>
  
  <div class="avatar-section">
    <div class="avatar-profile">
      <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, alt: 'avatar', :class => 'profile-img' %>
      <%= form_tag user_avatars_path(@user.id), multipart: true do %> <br/>
      <%= file_field_tag :avatar, :class =>"form-control-file choose", onchange: 'this.form.submit();' %>
      <% end %>
      <% else %>
      <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p> <br/>
      <%= form_tag user_avatars_path(@user.id), multipart: true do %>
      <%= file_field_tag :avatar, :class =>"form-control-file", onchange: 'this.form.submit();' %><br>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Number of orders : <%= current_user.orders.count %>
    </li>
    <li class="list-group-item">Contact: <%= @user.email %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Home', root_path, class: "card-link" %>
    <%= link_to 'Edit', edit_user_registration_path, class: "card-link" %>
  </div>


</div>
<div class="space">
</div>
  

<%= render "layouts/footer"%>


</body>
</html>
