<div class="row"  style="margin-left: 50px;">
<%= render "layouts/card" %>
<%= render "layouts/card" %>
<%= render "layouts/card" %>
</div>
<div class="row">
<%= render "layouts/card" %>
<%= render "layouts/card" %>
<%= render "layouts/card" %>
</div>
<div class="row">
<%= render "layouts/card" %>
<%= render "layouts/card" %>
<%= render "layouts/card" %>
</div>