<%= render 'layouts/transparent_navbar' %>
<div class="video-container">
	<div class="banner">
		<%= video_tag "cat.mp4", controls: false, autoplay: true, muted: true, loop: true, id: "home-video", class:"video" %>
	</div>
</div>

<div class="banner-text">
	<div class="typing">
		<h1 class="title-banner">CHATON POWER.</h1>
	</div>

	<br/>
	<p class="text-banner">You love cats? Us too. Welcome to paradise. <br/><a class="btn btn-secondary" href="#section2" id="scroll-button">See our pictures </a>
	</p>
</div>

<div class="space">
</div>
<div id="section2">
</div>

<div class="cat-cards">
	<br/><br/>
	<% if @breed == nil %>
	<h1 class="index-title"> Pick you favorite</h1>
	<% else %>
	<h1 class="index-title">Our <%= @breed %> cats!</h1>
	<% end %>
	<div class="search-bar">
		<%= form_tag(search_items_path, method: 'search') do %>
		<%= text_field_tag(:search, params[:search], class: "pl-3 form-control search") %>
		<%= submit_tag("Search", name: nil, class: "btn btn-primary") %>
		<% end %>
	</div>
	<br/>
	<div class="flex-container">
		<% @items.each do |item| %>
		<% @title = item.title %>
		<% @price = item.price %>
		<% @image_url = item.image_url %>
		<% @id = item.id %>
		<div>
			<%= render "card" %>
		</div> <br/> <br/>
		<% end %>
	</div>
	<%= render "layouts/footer"%>
</div>
