<div id="section1">

  <div class="card show-card">
    <h3 class="card-header"><%= @item.title %></h3>
    <div class="card-body">
      <h5 class="card-title"> &copy <%= Faker::Name.name  %></h5>
      <h6 class="card-subtitle text-muted">Photographer</h6>
    </div>
    <img src ="<%= @item.image_url %>" class="show-img">
    <div class="card-body">
      <p class="card-text"><%= @item.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <%= @item.price %> €</li>
      <li class="list-group-item">120 x 90 cm</li>
    </ul>
    <div class="card-body">
      <a href="/" class="card-link">Home Page</a>
      <a href="#" class="card-link">Add to cart</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
</div>


